<footer>
    <div class="f-info">
        <div>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
       <div class="f-info-socials"></div>
       <div>&copy; Land private limited</div>
       <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/term">Terms</a>
    </div>
    </div>
</footer>